/* ======GLOBAL======= */

h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
} 

 
/* ======NAVBAR======= */
nav{
   background-color: rgba(231, 231, 231, 0.938);
}
nav li, a{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-right: 10px;
    color: black;
}

nav img {
    width: 70px;
    height: 50px;
}

/* ======HEADER======= */

header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(./images/travel3.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.home-title {
    color: #fff;
    text-align: center;
    margin-top: 22%;
    
}

.home-title h1 {
    font-size: 35px;
    padding-bottom: 20px;
}
.home-title blockquote {
    padding-bottom: 15px;
    font-size: 17px;
}

.home-title a {
    color: #fff;
    background: #4a7ca5d0;
    padding: 8px;
    transition: 0.5s;
}

.home-title a:hover {
    text-decoration: none;
    background: rgba(92, 107, 192, 0.644);
    transition:0.5s;
}

blockquote {
quotes: "«\00A0" "\00A0»";
font-style: italic;
}

blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}

/* ====== MAIN ======= */

.presentation {
    text-align: center;
    margin-top: 30px;
}

.presentation p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

.presentation img {
    width: 70%;
    margin-bottom: -5px;
}

.presentation img:hover {
    transform: scale(1.05);
}

/* ========Section explore ======== */

.explore{
    background: rgba(170, 170, 170, 0.158);  
    font-family: 'Montserrat', sans-serif;
}
.title-explore{
    padding-top: 30px;
    text-align: center;
}

.title-explore p {
    padding: 15px;
}
.exploration{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.exploration h3 {
    font-size: 22px;
    padding: 10px;
}

.exploration p {
    padding: 10px;
}

.icons {
    color: #4a7ca5;
}

/* ========Section Discover ======== */

.discover {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.title-discover {
    padding: 30px;
}

.title-discover p {
    padding: 15px;
}

.articles img {
    width: 105%; 
}
.articles-small img {
    width: 108%; 
}

.inner-text{
    position: absolute;
    top: 45%;
    left:10%;
    text-align:center;
}
.inner-text a:hover{
    text-decoration: none;
}

.inner-text a{
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}


/* ========Section follow-me======== */

.follow-me {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.title-follow {
    padding: 30px;
}

.snapwidget-widget {
    padding: 15px;
}





/* ========FOOOTER======= */

footer{
    background-color: #4a7ca5;
    text-align: center;
}

footer p {
    color: #fff;
    padding: 20px;
}


